@font-face {
  font-family: 'Wremena';
  src: url('../fonts/Wremena.eot');
  src: local('Wremena'), local('Wremena'), url('../fonts/Wremena.eot?#iefix') format('embedded-opentype'), url('../fonts/Wremena.woff2') format('woff2'), url('../fonts/Wremena.woff') format('woff'), url('../fonts/Wremena.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wremena';
  src: url('../fonts/Wremena-Bold.eot');
  src: local('Wremena Bold'), local('Wremena-Bold'), url('../fonts/Wremena-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Wremena-Bold.woff2') format('woff2'), url('../fonts/Wremena-Bold.woff') format('woff'), url('../fonts/Wremena-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Wremena';
  src: url('../fonts/Wremena-Light.eot');
  src: local('Wremena Light'), local('Wremena-Light'), url('../fonts/Wremena-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Wremena-Light.woff2') format('woff2'), url('../fonts/Wremena-Light.woff') format('woff'), url('../fonts/Wremena-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
.icon {
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon--headphones {
  background-image: url('../img/headerphones.svg');
  width: 33px;
  height: 32px;
}
.icon--arrow-right {
  background-image: url('../img/arrow-right-white.svg');
  width: 14px;
  height: 14px;
}
.icon--arrow-right-brown {
  background-image: url('../img/arrow-right-brown.svg');
  width: 14px;
  height: 14px;
}
@media (max-width: 767px) {
  .icon--arrow-right-brown {
    width: 10px;
    height: 10px;
  }
}
.link-icon {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-family: 'Circe Light', sans-serif;
  transition: all 0.3s ease-in-out;
  position: relative;
  text-decoration: none;
}
.link-icon:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 22px;
  right: 0;
  height: 1px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.link-icon--left .icon {
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
  right: 0;
  top: 0;
  position: relative;
}
.link-icon--left:hover .icon {
  right: -4px;
}
.link-icon:hover {
  text-decoration: none;
}
.link-icon:hover:after {
  left: 100%;
}
.link-icon:hover span {
  text-decoration: none !important;
}
@media (max-width: 767px) {
  .link-icon {
    font-size: 16px;
  }
}
.tab-content:not(.is-selected) {
  display: none;
}
.tab-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 64px;
}
@media (max-width: 767px) {
  .tab-links {
    margin-top: 32px;
  }
}
.tab-link {
  margin: 0 32px 24px;
  font-size: 20px;
  font-family: 'Wremena', sans-serif;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  transition: all .3s ease;
}
.tab-link:hover,
.tab-link.is-selected {
  color: #AF817D;
}
@media (max-width: 768px) {
  .tab-link {
    font-size: 16px;
    margin-right: 24px;
    margin-left: 0;
  }
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}
.popup {
  display: none;
  width: 800px;
  height: 600px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101;
}
.popup div {
  height: 100%;
}
.popup iframe {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  border: none;
}
.popup-close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  box-shadow: none;
  border: none;
  width: 41px;
  height: 41px;
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;
  transition: all .3s ease;
}
.popup-close:before,
.popup-close:after {
  content: '';
  display: block;
  background: #000;
  position: absolute;
  width: 25px;
  height: 2px;
  border-radius: 4px;
  top: 20px;
  right: 8px;
}
.popup-close:after {
  transform: rotate(45deg);
}
.popup-close:before {
  transform: rotate(-45deg);
}
.popup-close:hover {
  opacity: .5;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', sans-serif;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a {
  color: #AF817D;
}
.is-bolder {
  font-family: 'Circe Bold', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
section + section {
  margin: 144px 0;
}
@media (max-width: 767px) {
  section + section {
    margin: 40px 0;
  }
}
.block {
  padding: 0 22px;
}
.block + .block {
  margin: 96px 0 0;
}
@media (max-width: 767px) {
  .block + .block {
    margin-top: 60px;
  }
}
.title-h1,
h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Wremena', sans-serif;
  margin: 0 0 32px;
  padding: 0;
}
@media (max-width: 992px) {
  .title-h1,
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .title-h1,
  h1 {
    font-size: 20px;
  }
}
.title-h2,
h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Wremena', sans-serif;
  margin: 0 0 32px;
  padding: 0;
}
@media (max-width: 768px) {
  .title-h2,
  h2 {
    font-size: 20px;
  }
}
.btn-link-red {
  background: #AF817D;
  border-radius: 30px;
  color: #fff !important;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}
.btn-link-red .icon {
  margin-right: 6px;
}
.btn-link-red:hover {
  background: #9d726e;
}
.is-buy-link:after {
  display: none;
}
.is-buy-link .icon--arrow-right {
  transition: all 0.3s ease-in-out;
  left: 0;
  top: 1px;
  position: relative;
}
.is-buy-link:hover .icon--arrow-right {
  left: 4px;
}
.header {
  padding: 48px 0;
  position: relative;
  z-index: 1;
  transition: all .3s ease;
}
.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.header__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #AF817D;
  transition: all 0.3s ease-in-out;
}
.header__link.is-active,
.header__link:hover {
  color: #AF817D;
}
.header__link.is-active:after,
.header__link:hover:after {
  width: 100%;
}
@media (max-width: 992px) {
  .header nav {
    display: none;
  }
}
@media (max-width: 992px) {
  .header {
    z-index: 1000;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
  }
}
.section-hero {
  background: #AF817D;
}
.section-hero .container {
  position: relative;
}
.section-hero .container:after {
  content: '';
  background: url('../img/hero-bg.svg') no-repeat top;
  background-size: cover;
  position: absolute;
  top: -125px;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 992px) {
  .section-hero .container:after {
    background: url('../img/hero-tablet-bg.svg') no-repeat top;
    background-size: contain;
    top: -68px;
  }
}
@media (max-width: 768px) {
  .section-hero .container:after {
    background: url('../img/hero-mobile-bg.svg') no-repeat top;
    background-size: contain;
    top: -10px;
  }
}
.hero {
  padding: 60px 0;
  position: relative;
  background: url('../img/hero-bg.png') no-repeat center;
  background-size: contain;
}
.hero__place {
  font-family: 'Wremena', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
@media (max-width: 992px) {
  .hero__place {
    font-size: 24px;
    margin-top: 5px;
  }
}
.hero__date {
  font-family: 'Wremena', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;
  margin-top: 126px;
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
}
@media (max-width: 992px) {
  .hero__date {
    margin-top: 60px;
    margin-bottom: 16px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .hero__date {
    margin-top: 28px;
    margin-bottom: 20px;
  }
}
.hero__title {
  margin: 40px 0 140px;
  font-family: 'Wremena', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}
.hero__title-top {
  font-weight: 500;
  font-size: 44px;
}
@media (max-width: 992px) {
  .hero__title-top {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .hero__title-top {
    font-size: 22px;
  }
}
.hero__title-middle {
  font-weight: 500;
  font-size: 79px;
  letter-spacing: 25px;
  margin: 12px 0;
}
@media (max-width: 992px) {
  .hero__title-middle {
    font-size: 40px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .hero__title-middle {
    font-size: 38px;
    letter-spacing: 15px;
  }
}
.hero__title-bottom {
  font-weight: 500;
  font-size: 44px;
}
@media (max-width: 992px) {
  .hero__title-bottom {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .hero__title-bottom {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .hero__title {
    margin: 0 0 60px 0;
  }
}
@media (max-width: 768px) {
  .hero__title {
    margin: 0;
  }
}
.hero__buy {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}
.hero__buy a {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
}
.hero__buy a:hover {
  text-decoration: none;
}
@media (max-width: 992px) {
  .hero__buy {
    margin-top: 44px;
  }
  .hero__buy a {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .hero__buy {
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .hero {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-bottom: 120px;
  }
}
.hero-woman {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0;
  z-index: 1;
}
@media (max-width: 1200px) {
  .hero-woman {
    width: 55vw;
  }
}
@media (max-width: 992px) {
  .hero-woman {
    width: 50vw;
  }
}
.mobile-menu {
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  width: 32px;
  padding: 0;
  margin: 0;
  background: transparent;
  position: relative;
  z-index: 1;
}
.mobile-menu div {
  background: #AF817D;
  border-radius: 4px;
  width: 100%;
  height: 3px;
  transition: all 0.3s ease-in;
  top: 0;
  position: relative;
}
.mobile-menu div:nth-child(2) {
  margin: 6px 0;
}
@media (min-width: 993px) {
  .mobile-menu {
    display: none;
  }
}
@media (min-width: 993px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .desktop-only {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .is-mobile-menu-opened header {
    background: #fff;
  }
  .is-mobile-menu-opened .mobile-menu div:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    position: relative;
  }
  .is-mobile-menu-opened .mobile-menu div:nth-child(2) {
    opacity: 0;
  }
  .is-mobile-menu-opened .mobile-menu div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
  }
  .is-mobile-menu-opened nav {
    position: fixed;
    top: 71px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 11;
    display: block;
  }
  .is-mobile-menu-opened nav ul {
    width: 100%;
    padding: 50px 0;
    height: 100%;
    flex-direction: column;
  }
}
#about .container {
  background: url('../img/about-bg.svg') no-repeat center;
  background-size: contain;
}
.about {
  display: flex;
  flex-wrap: wrap;
}
.about__left {
  width: 50%;
  padding-right: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Circe Light', sans-serif;
}
.about__left li {
  position: relative;
  padding-left: 16px;
  padding-bottom: 10px;
}
.about__left li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 2px;
  opacity: .5;
}
.about__right {
  width: 50%;
  padding-left: 60px;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Circe Light', sans-serif;
}
@media (max-width: 992px) {
  .about__left {
    padding-right: 12px;
    font-size: 16px;
  }
  .about__right {
    padding-left: 12px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .about__left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 32px;
  }
  .about__right {
    width: 100%;
    padding-left: 0;
  }
}
.about-partner {
  flex-wrap: wrap;
  display: flex;
  margin-top: 32px;
}
.about-partner span {
  font-family: 'Circe Light', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #828282;
}
.about-partner span:nth-child(1) {
  width: 100%;
  padding-bottom: 10px;
}
.about-partner span:nth-child(2) {
  min-width: 65px;
  margin-right: 12px;
}
.about-partner span:nth-child(3) {
  width: calc(100% - 77px);
}
.about-partner--filter a {
  filter: grayscale(1);
  opacity: .4;
  transition: all .3s ease;
}
.about-partner--filter a:hover {
  filter: grayscale(0);
  opacity: 1;
}
@media (max-width: 600px) {
  .about-partner span br {
    display: none;
  }
}
.catalog-buy {
  max-width: 600px;
  display: flex;
  margin: 90px 0;
}
.catalog-buy span:not(.icon) {
  font-family: 'Circe Light', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}
.catalog-buy span:not(.icon) img {
  min-width: 200px;
}
.catalog-buy span:not(.icon):nth-child(1) {
  margin-right: 22px;
}
.catalog-buy img {
  transition: all .3s ease;
}
.catalog-buy a {
  text-decoration: none;
  color: #AF817D !important;
}
.catalog-buy a:after {
  background: #AF817D;
}
.catalog-buy a span {
  color: #AF817D !important;
  font-size: 24px;
}
@media (max-width: 600px) {
  .catalog-buy {
    flex-direction: column;
    margin: 60px 0;
  }
  .catalog-buy span {
    font-size: 16px !important;
  }
}
#pictures .container {
  position: relative;
}
#pictures .container::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  bottom: 0;
  border: 2px solid #af817d;
  border-radius: 650px 650px 0 0;
  z-index: -1;
}
@media (max-width: 1380px) {
  #pictures .container::before {
    left: 20px;
    right: 20px;
  }
}
@media (max-width: 1200px) {
  #pictures .container::before {
    left: 20px;
    right: 20px;
  }
}
@media (max-width: 767px) {
  #pictures .title-h1 {
    display: none;
  }
  #pictures .container::before {
    top: 0;
  }
}
.picture-info-wrap {
  background: #fff;
  position: relative;
  padding: 22px;
}
@media (max-width: 767px) {
  .picture-info-wrap {
    padding: 22px 16px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  border-radius: 100% !important;
  transition: all 0.3s ease-in-out;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  filter: grayscale(1) !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: #f4eceb !important;
}
.picture-info {
  width: calc(100% - 200px);
  padding-bottom: 100px;
  margin: 0 auto;
  position: relative;
}
.picture-info .link-icon:after {
  background: #AF817D;
}
.picture-info .swiper-button-prev {
  background: url('../img/swiper-arrow-left.svg') #fff no-repeat center;
  width: 32px;
  height: 32px;
  left: -115px;
  z-index: 100;
}
.picture-info .swiper-button-prev::before {
  display: none;
}
.picture-info .swiper-button-prev::after {
  display: none;
}
@media (max-width: 1200px) {
  .picture-info .swiper-button-prev {
    top: 40px;
    right: 40px;
    left: auto;
    z-index: 999;
  }
}
@media (max-width: 768px) {
  .picture-info .swiper-button-prev {
    top: 0;
  }
}
.picture-info .swiper-button-next {
  background: url('../img/swiper-arrow-right.svg') #fff no-repeat center;
  width: 32px;
  height: 32px;
  right: -115px;
  z-index: 100;
}
.picture-info .swiper-button-next::before {
  display: none;
}
.picture-info .swiper-button-next::after {
  display: none;
}
@media (max-width: 1200px) {
  .picture-info .swiper-button-next {
    top: 40px;
    right: -10px;
    z-index: 999;
  }
}
@media (max-width: 768px) {
  .picture-info .swiper-button-next {
    top: 0;
  }
}
.picture-info .swiper-pagination {
  position: static;
  margin-left: auto;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.picture-info .swiper-pagination .swiper-pagination__bullet {
  margin: 8px;
  width: 32px;
  height: 32px;
  border: 1px solid #BDBDBD;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #BDBDBD;
  border-radius: 100%;
  line-height: 1;
  padding-top: 3px;
  cursor: pointer;
  background: #fff;
  opacity: 1;
  transition: all .3s ease;
}
.picture-info .swiper-pagination .swiper-pagination__bullet:hover {
  border-color: #AF817D;
}
.picture-info .swiper-pagination .swiper-pagination__bullet.swiper-pagination-bullet-active {
  color: #AF817D;
  border-color: #AF817D;
}
@media (max-width: 1200px) {
  .picture-info .swiper-pagination {
    width: calc(100% - 240px);
    padding-left: 24px;
  }
}
@media (max-width: 768px) {
  .picture-info .swiper-pagination {
    display: none;
  }
}
@media (max-width: 1200px) {
  .picture-info {
    width: calc(100% - 40px);
  }
}
@media (max-width: 768px) {
  .picture-info {
    width: calc(100% - 20px);
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
.picture {
  display: flex;
}
.picture__img {
  min-width: 410px;
  max-width: 410px;
  width: 410px;
}
.picture__img img {
  width: 100%;
}
@media (max-width: 1200px) {
  .picture__img {
    min-width: 240px;
    width: 240px;
  }
}
@media (max-width: 768px) {
  .picture__img {
    width: 100%;
    min-width: unset;
  }
}
.picture__info {
  padding-left: 130px;
  width: calc(100% - 410px);
}
@media (max-width: 1200px) {
  .picture__info {
    padding-left: 24px;
    width: calc(100% - 240px);
  }
}
@media (max-width: 768px) {
  .picture__info {
    padding-left: 0;
    width: 100%;
  }
}
.picture__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  font-family: 'Wremena', sans-serif;
}
@media (max-width: 1200px) {
  .picture__title {
    font-size: 24px;
    padding-right: 60px;
  }
}
@media (max-width: 768px) {
  .picture__title {
    padding-right: 0;
    font-size: 20px;
  }
}
.picture__place {
  font-size: 18px;
  line-height: 1.3;
  color: #828282;
  margin-bottom: 32px;
  font-family: 'Circe Light', sans-serif;
}
@media (max-width: 1200px) {
  .picture__place {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .picture__place {
    line-height: 1.3;
  }
}
.picture__text {
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Circe Light', sans-serif;
}
.picture__text span {
  font-family: 'Circe Bold', sans-serif;
}
@media (max-width: 1200px) {
  .picture__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .picture {
    flex-wrap: wrap;
  }
  .picture__img {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
}
/********************************************************* Образовательная программа */
#obr-programm .orange-line {
  margin-bottom: 0;
}
#obr-programm .programm-list {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  #obr-programm .programm-list {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #obr-programm .programm-list-wrap {
    padding: 0;
  }
}
.text-with-icon {
  display: flex;
  align-content: center;
}
.text-with-icon .icon {
  margin-right: 11px;
  position: relative;
  top: -5px;
}
.text-with-icon p {
  margin: 0;
}
.simple-text {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Circe Light', sans-serif;
}
@media (max-width: 767px) {
  .simple-text {
    font-size: 16px;
  }
}
.orange-line {
  background: #AF817D;
  height: 2px;
  margin: 60px auto;
  width: calc(100% - 44px);
}
@media (max-width: 992px) {
  .orange-line {
    margin: 48px auto;
  }
}
.links-services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px 0 0 0;
}
.links-services a {
  margin-right: 60px;
  filter: grayscale(1);
  opacity: .7;
  transition: all .3s ease;
}
.links-services a:hover {
  filter: grayscale(0);
  opacity: 1;
}
@media (max-width: 768px) {
  .links-services a {
    width: 100% !important;
    margin-right: 0;
  }
  .links-services a:not(:first-child) {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .links-services {
    margin-top: 20px;
  }
}
#spec {
  background: #AF817D;
  padding: 120px 0;
}
#spec * {
  color: #fff;
}
#spec .about {
  margin-bottom: 48px;
}
#spec .container {
  background: url('../img/spec-bg.svg') #AF817D no-repeat center;
  background-size: contain;
}
@media (max-width: 767px) {
  #spec {
    padding: 60px 0;
  }
}
.spec-list {
  padding: 64px 200px;
  position: relative;
  border: 2px solid #fff;
  margin-top: 96px;
}
.spec-list .swiper-button-prev {
  background: url('../img/swiper-arrow-left-white.svg') #AF817D no-repeat center;
  width: 32px;
  height: 32px;
  left: 100px;
}
.spec-list .swiper-button-prev::before {
  display: none;
}
.spec-list .swiper-button-prev::after {
  display: none;
}
.spec-list .swiper-button-prev:hover {
  background-color: transparent !important;
}
@media (max-width: 1200px) {
  .spec-list .swiper-button-prev {
    left: 15px;
  }
}
@media (max-width: 992px) {
  .spec-list .swiper-button-prev {
    top: 40px;
    right: 70px;
    left: auto;
  }
}
.spec-list .swiper-button-next {
  background: url('../img/swiper-arrow-right-white.svg') #AF817D no-repeat center;
  width: 32px;
  height: 32px;
  right: 100px;
}
.spec-list .swiper-button-next::before {
  display: none;
}
.spec-list .swiper-button-next::after {
  display: none;
}
.spec-list .swiper-button-next:hover {
  background-color: transparent !important;
}
@media (max-width: 1200px) {
  .spec-list .swiper-button-next {
    right: 15px;
  }
}
@media (max-width: 992px) {
  .spec-list .swiper-button-next {
    top: 40px;
    right: 20px;
  }
}
@media (max-width: 1200px) {
  .spec-list {
    padding: 64px 60px;
  }
}
@media (max-width: 768px) {
  .spec-list {
    padding: 64px 16px 40px;
  }
}
.spec {
  display: flex;
  flex-wrap: wrap;
}
.spec__img {
  min-width: 300px;
  width: 300px;
}
@media (max-width: 992px) {
  .spec__img {
    min-width: 250px;
    width: 250px;
  }
}
@media (max-width: 768px) {
  .spec__img {
    width: 100%;
    text-align: center;
    padding: 0 16px;
  }
}
.spec__info {
  width: calc(100% - 300px);
  padding-left: 135px;
}
@media (max-width: 992px) {
  .spec__info {
    width: calc(100% - 250px);
    padding-left: 24px;
  }
}
@media (max-width: 768px) {
  .spec__info {
    width: 100%;
    padding-left: 0;
    margin-top: 32px;
  }
}
.spec__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  font-family: 'Wremena', sans-serif;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.spec__title span {
  display: block;
  margin-bottom: 8px;
}
.spec__text {
  font-size: 16px;
  font-family: 'Circe Light', sans-serif;
}
#excursion {
  position: relative;
  margin-bottom: 100px;
}
#excursion .container {
  position: relative;
}
#excursion .container::after {
  content: '';
  background: url('../img/footer-bg.svg') no-repeat center;
  background-size: contain;
  width: 100%;
  height: 480px;
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
}
#excursion .container::before {
  content: '';
  position: absolute;
  top: 120px;
  left: 20px;
  right: 20px;
  bottom: 0;
  border: 2px solid #af817d;
  border-radius: 600px 600px 0 0;
  z-index: -1;
}
@media (max-width: 1380px) {
  #excursion .container::before {
    left: 20px;
    right: 20px;
  }
}
@media (max-width: 1200px) {
  #excursion .container::before {
    left: 20px;
    right: 20px;
  }
}
@media (max-width: 768px) {
  #excursion {
    margin-bottom: 40px;
  }
  #excursion .container::before {
    top: 70px;
  }
}
.programm-list {
  width: calc(100% - 200px);
  padding-bottom: 60px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .programm-list {
    width: calc(100% - 140px);
  }
}
@media (max-width: 768px) {
  .programm-list {
    width: calc(100% - 20px);
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
.programm-list-wrap {
  background: #fff;
  position: relative;
  padding: 22px;
}
.about-museum {
  margin-top: 128px;
}
.about-museum a:after {
  background: #AF817D;
}
.about-museum__img {
  border: 10px solid #fff;
  margin-bottom: 48px;
  width: calc(100% + 20px);
  margin-left: -10px;
  position: relative;
  font-size: 0;
}
.about-museum__img video {
  width: 100%;
}
.about-museum__img button:not(.js-stop-video) {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all .3s ease;
}
.about-museum__img button:not(.js-stop-video) img {
  width: 100px;
}
.about-museum__img button:not(.js-stop-video):hover {
  background: rgba(0, 0, 0, 0.5);
}
.about-museum__img .js-stop-video {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 10;
}
.about-museum__img .js-stop-video img {
  width: 100px;
}
@media (max-width: 768px) {
  .about-museum__img {
    margin-bottom: 8px;
    border-top-width: 22px;
  }
}
.about-museum__left {
  width: 50%;
  font-size: 18px;
  font-family: 'Circe Light', sans-serif;
  line-height: 1.5;
}
.about-museum__left p:first-child {
  margin-top: 8px;
}
@media (max-width: 992px) {
  .about-museum__left {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .about-museum__left {
    font-size: 16px;
  }
}
.about-museum__right {
  width: 50%;
  padding-left: 134px;
}
@media (max-width: 992px) {
  .about-museum__right {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
.about-museum__info {
  font-size: 18px;
  padding-top: 14px;
  font-family: 'Circe Light', sans-serif;
}
.about-museum__info a {
  position: relative;
  text-decoration: none;
}
.about-museum__info a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #AF817D;
  transition: all 0.3s ease-in-out;
}
.about-museum__info a:hover:after {
  left: 100%;
}
.about-museum__info strong {
  font-family: 'Circe Bold', sans-serif;
}
@media (max-width: 992px) {
  .about-museum__info {
    width: 50%;
    padding-left: 0;
    padding-right: 12px;
    order: 1;
  }
  .about-museum__info p {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .about-museum__info {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    order: 2;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about-museum {
    padding: 0 22px;
    margin-top: 40px;
  }
}
.about-museum-wrap {
  display: flex;
  flex-wrap: wrap;
}
.about-links {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about-links {
    flex-direction: column;
  }
  .about-links a:not(:last-child) {
    margin-bottom: 16px;
  }
}
.with-help {
  font-size: 16px;
  color: #828282;
  font-family: 'Circe Light', sans-serif;
}
.about-address {
  font-family: 'Circe Light', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.about-address p {
  margin: 8px 0;
}
.about-address p a:not(.link-icon) {
  color: #000;
  text-decoration: none;
  transition: all .3s ease;
}
.about-address p a:not(.link-icon):hover {
  color: #AF817D;
}
.about-address .link-icon {
  font-size: 24px;
  font-family: 'Circe Light', sans-serif;
  text-transform: none;
  margin-top: 76px;
}
@media (max-width: 992px) {
  .about-address {
    width: 50%;
    order: 2;
    padding-left: 12px;
  }
}
@media (max-width: 768px) {
  .about-address {
    width: 100%;
    padding-left: 0;
    order: 1;
    font-size: 16px;
  }
  .about-address .link-icon {
    font-size: 16px;
    margin-top: 16px;
  }
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.social-links a {
  margin-right: 12px;
  margin-bottom: 12px;
  font-size: 0;
  border-radius: 100%;
  transition: all .3s ease;
}
.social-links a:after {
  display: none;
}
.social-links a:hover {
  background: #fdf2f1;
}
.obr-programm {
  display: flex;
  flex-wrap: wrap;
}
.obr-programm__img {
  width: 410px;
  min-width: 410px;
}
.obr-programm__img img {
  width: 100%;
}
@media (max-width: 1200px) {
  .obr-programm__img {
    width: 290px;
    min-width: 290px;
  }
}
@media (max-width: 768px) {
  .obr-programm__img {
    min-width: unset;
    width: 100%;
    padding: 0 16px;
    margin-bottom: 24px;
  }
}
.obr-programm__info {
  width: calc(100% - 410px);
  padding-left: 135px;
  padding-right: 100px;
}
@media (max-width: 1200px) {
  .obr-programm__info {
    width: calc(100% - 290px);
    padding-left: 24px;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .obr-programm__info {
    padding-left: 0;
    width: 100%;
  }
}
.obr-programm__date {
  font-size: 20px;
  font-family: 'Wremena', sans-serif;
  margin-bottom: 16px;
  color: #AF817D;
}
@media (max-width: 768px) {
  .obr-programm__date {
    text-align: center;
  }
}
.obr-programm__title {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Wremena', sans-serif;
  margin-bottom: 16px;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .obr-programm__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
.obr-programm__text {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Circe Light', sans-serif;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
  font-family: 'Circe Light', sans-serif;
}
.footer a {
  color: #828282;
  position: relative;
  text-decoration: none;
}
.footer a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #828282;
  transition: all 0.3s ease-in-out;
}
.footer a:hover:after {
  left: 100%;
}
.footer a:hover {
  color: #9d726e;
  text-decoration: none;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .footer div {
    margin: 10px 0;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all .3s ease;
}
body {
  margin-top: 132px;
}
body.is-header-fixed .header {
  padding: 24px 0;
}
body.is-header-fixed header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media (max-width: 992px) {
  body {
    margin-top: 72px;
  }
  body.is-header-fixed {
    padding-top: 72px;
  }
}
.quote {
  padding: 0;
  margin-bottom: 32px;
  font-family: 'Circe Bold', sans-serif;
  font-size: 18px;
}
@media (max-width: 992px) {
  .quote {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */